In [6]:
import pandas as pd

In [9]:
# Read in the CSV files with headers
df1 = pd.read_csv('PixstoryDatasetFeb2023[RAW]/data1.csv', header=0)
df2 = pd.read_csv('PixstoryDatasetFeb2023[RAW]/15000 data.csv', header=0)
df3 = pd.read_csv('PixstoryDatasetFeb2023[RAW]/15000 data 18 Nov.csv', header=0)
df4 = pd.read_csv('PixstoryDatasetFeb2023[RAW]/15000 data 10 Nov.csv', header=0)
df5 = pd.read_csv('PixstoryDatasetFeb2023[RAW]/10000 data.csv', header=0)
df6 = pd.read_csv('PixstoryDatasetFeb2023[RAW]/10000 data 18 Nov.csv', header=0)
df7 = pd.read_csv('PixstoryDatasetFeb2023[RAW]/10000 data 10Nov .csv', header=0)

In [13]:
# Merge the data frames using pd.concat()
merged_df = pd.concat([df1, df2, df3, df4, df5, df6, df7])

# Alternatively, merge the data frames based on a specific column using pd.merge()
# merged_df = pd.merge(df1, df2, on='column_name')

In [14]:

# Save the merged data frame to a new CSV file with headers
merged_df.to_csv('Master_Dataset_Raw.csv', index=False)

In [15]:
print(merged_df.head)

<bound method NDFrame.head of       Story Primary ID       Story ID  User Primary ID        User ID Gender  \
0               156581  STY1666112066            86625  USR1662300553    NaN
1               156580  STY1666111954           119236  USR1665943314    NaN
2               156579  STY1666111923            86566  USR1662294899    NaN
3               156578  STY1666111798            86655  USR1662303432    NaN
4               156577  STY1666111463             9221  USR1632727815   male
...                ...            ...              ...            ...    ...
9995             95021  STY1650382324            22770  USR1642425119   male
9996             95020  STY1650381837            32577  USR1650381467    NaN
9997             95019  STY1650381574            32498  USR1650370047    NaN
9998             95018  STY1650380690            32574  USR1650380153    NaN
9999             95017  STY1650380622            28955  USR1647204389   male

      Age                                              Title  \
0      12  Qatar Airways cuts flights to accommodate FIFA...
1      18  Positive thinking does not necessarily mean av...
2      12  FIFA negotiating 'initiatives' for Qatar migra...
3      12  Qatar ready for the World Cup in just over a m...
4      23  Froyo always makes everyone happy, make this h...
...   ...                                                ...
9995   40            Ronaldo salta la trasferta di Liverpool
9996   15  Name-vishal\nFather name-Amod\nClass-7\nAge-13...
9997   15                                          Earth day
9998   12  Name-puneet\nclass-6th\nfather name-Ramkishan\...
9999   25                            The Derby that Matters.

                                              Narrative  \
0     <p dir="ltr">Qatar Airways&#160;has withdrawn ...
1     <p dir="ltr">Positive thinking does not necess...
2     <p dir="ltr">FIFA's president sought Monday to...
3     <p dir="ltr">Ticket sales for the FIFA World C...
4     <p dir="ltr"></p>\n<p dir="ltr">Almost all of ...
...                                                 ...
9995  Il Manchester United ha annunciato l'assenza d...
9996                                           Earthday
9997                       Name Muskan \nClass 8\nSex f
9998                                           Earthday
9999  Time stands still at Merseyside, as Anfield we...

                                                  Media Account Created Date  \
0     https://image.pixstory.com/Pixstory-image-1666...  2022-09-04 19:39:13
1     https://image.pixstory.com/Pixstory-image-1666...  2022-10-16 23:31:54
2     https://image.pixstory.com/Pixstory-image-1666...  2022-09-04 18:04:59
3     https://image.pixstory.com/Pixstory-image-1666...  2022-09-04 20:27:12
4     https://image.pixstory.com/Pixstory-image-1666...  2021-09-27 13:00:15
...                                                 ...                  ...
9995  https://image.pixstory.com/Pixstory-image-1650...  2022-01-17 18:41:59
9996  https://image.pixstory.com/Pixstory-image-1650...  2022-04-19 20:47:47
9997  https://image.pixstory.com/Pixstory-image-1650...  2022-04-19 17:37:27
9998  https://image.pixstory.com/Pixstory-image-1650...  2022-04-19 20:25:53
9999  https://image.pixstory.com/Pixstory-image-1650...  2022-03-14 02:16:29

                                               Interest
0     Technology, History, Food, Entertainment, Spor...
1     Technology, History, Food, Entertainment, Spor...
2     Technology, History, Food, Entertainment, Spor...
3     Technology, History, Food, Entertainment, Spor...
4     Science, Inequality, Education, Technology, He...
...                                                 ...
9995  calcio, premier league, cristiano ronaldo, man...
9996                                            chintan
9997                                            chintan
9998                                            chintan
9999  football, premier league, ynwa, liverpool, man...

[95000 rows x 11 columns]>