In [1]:
import pandas as pd

Add a flag for sarcasm by comparing the post text to https://nlds.soe.ucsc.edu/sarcasm1. Compare the text of the post with the sarcasm corpus and add a flag for detected or not.

# Sarcasm Text

In [2]:
sarcasmTextList = []

for i in range(1, 1000):
    
    try: 
        # Open file in read mode
        with open('data-sarc-sample/sarc/sarcastic_' + str(i) + '.txt', 'r') as file:
            # Read the entire contents of the file into a string variable
            sarcasm_text = file.read()
    
        sarcasmTextList.append(sarcasm_text)
        
    finally:
        continue

In [3]:
# Create a pandas DataFrame with the list of strings
df_sarcasm = pd.DataFrame({'Sarcasm Text': sarcasmTextList})

In [4]:
df_sarcasm

                                          Sarcasm Text
0    Actually, they didn't. The whole tragedy was c...
1    At your service:   Comparison   I could've jus...
2    So which is it: the action is moral, the actio...
3    Interesting how the study was set in Pittsburg...
4    Ah, I see.   Your reasons are secret reasons. ...
..                                                 ...
992                                                and
993  Ha, that is just an idiotic perspective. We'd ...
994  So you are saying that despite the majority of...
995       depends on your definition of "human being."
996  So? Life is cheap. You can't change that, the ...

[997 rows x 1 columns]

# Non-Sarcasm Text

In [5]:
notSarcasmTextList = []

for i in range(1, 1000):
    
    try: 
        # Open file in read mode
        with open('data-sarc-sample/notsarc/not_sarcastic_' + str(i) + '.txt', 'r') as file:
            # Read the entire contents of the file into a string variable
            not_sarcasm_text = file.read()
    
        notSarcasmTextList.append(not_sarcasm_text)
        
    finally:
        continue

In [6]:
# Create a pandas DataFrame with the list of strings
df_not_sarcasm = pd.DataFrame({'Not Sarcasm Text': notSarcasmTextList})

In [7]:
df_not_sarcasm

                                      Not Sarcasm Text
0    This is a pretty touchy issue, and I agree wit...
1                                            See above
2    In other words, you think a Supreme Court deci...
3    um, yeah, you could say that... (won't argue.....
4    Well, Google is your friend here - try fossil ...
..                                                 ...
991  Thanks, my friend, as you can see, Jito comple...
992  What do you mean by this? Could we not have th...
993  And the answer is: we don't know. Maybe it cam...
994  And what would make them separate species? How...
995  This decision was not solely based on self, bu...

[996 rows x 1 columns]

# Implementing Flag Detection

In [8]:
df_master_dataset = pd.read_csv("../Master_Dataset_Raw.csv")

In [9]:
# Define the lists of sarcasm and not sarcasm texts
sarcasm_texts = list(df_sarcasm['Sarcasm Text'])
not_sarcasm_texts = list(df_not_sarcasm['Not Sarcasm Text'])

In [10]:
# Define a function to classify sarcasm based on the presence of strings
def classify_sarcasm(text):
    if df_sarcasm['Sarcasm Text'].str.contains(text, regex=False).any():
        return 'sarcasm'
    elif df_not_sarcasm['Not Sarcasm Text'].str.contains(text, regex=False).any():
        return 'not sarcasm'
    else:
        return 'unknown'

# Apply the classify_sarcasm function to the "Narrative" column in df_master_dataset
df_master_dataset['Classification'] = df_master_dataset['Narrative'].apply(classify_sarcasm)

KeyboardInterrupt:

In [ ]:
df_master_dataset

,Story Primary ID,Story ID,User Primary ID,User ID,Gender,Age,Title,Narrative,Media,Account Created Date,Interest,Classification
0,156581,STY1666112066,86625,USR1662300553,NaN,12,Qatar Airways cuts flights to accommodate FIFA...,"<p dir=""ltr"">Qatar Airways&#160;has withdrawn ...",https://image.pixstory.com/Pixstory-image-1666...,2022-09-04 19:39:13,"Technology, History, Food, Entertainment, Spor...",unknown
1,156580,STY1666111954,119236,USR1665943314,NaN,18,Positive thinking does not necessarily mean av...,"<p dir=""ltr"">Positive thinking does not necess...",https://image.pixstory.com/Pixstory-image-1666...,2022-10-16 23:31:54,"Technology, History, Food, Entertainment, Spor...",unknown
2,156579,STY1666111923,86566,USR1662294899,NaN,12,FIFA negotiating 'initiatives' for Qatar migra...,"<p dir=""ltr"">FIFA's president sought Monday to...",https://image.pixstory.com/Pixstory-image-1666...,2022-09-04 18:04:59,"Technology, History, Food, Entertainment, Spor...",unknown
3,156578,STY1666111798,86655,USR1662303432,NaN,12,Qatar ready for the World Cup in just over a m...,"<p dir=""ltr"">Ticket sales for the FIFA World C...",https://image.pixstory.com/Pixstory-image-1666...,2022-09-04 20:27:12,"Technology, History, Food, Entertainment, Spor...",unknown
4,156577,STY1666111463,9221,USR1632727815,male,23,"Froyo always makes everyone happy, make this h...","<p dir=""ltr""></p>\n<p dir=""ltr"">Almost all of ...",https://image.pixstory.com/Pixstory-image-1666...,2021-09-27 13:00:15,"Science, Inequality, Education, Technology, He...",unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
94995,95021,STY1650382324,22770,USR1642425119,male,40,Ronaldo salta la trasferta di Liverpool,Il Manchester United ha annunciato l'assenza d...,https://image.pixstory.com/Pixstory-image-1650...,2022-01-17 18:41:59,"calcio, premier league, cristiano ronaldo, man...",unknown
94996,95020,STY1650381837,32577,USR1650381467,NaN,15,Name-vishal\nFather name-Amod\nClass-7\nAge-13...,Earthday,https://image.pixstory.com/Pixstory-image-1650...,2022-04-19 20:47:47,chintan,unknown
94997,95019,STY1650381574,32498,USR1650370047,NaN,15,Earth day,Name Muskan \nClass 8\nSex f,https://image.pixstory.com/Pixstory-image-1650...,2022-04-19 17:37:27,chintan,unknown
94998,95018,STY1650380690,32574,USR1650380153,NaN,12,Name-puneet\nclass-6th\nfather name-Ramkishan\...,Earthday,https://image.pixstory.com/Pixstory-image-1650...,2022-04-19 20:25:53,chintan,unknown
94999,95017,STY1650380622,28955,USR1647204389,male,25,The Derby that Matters.,"Time stands still at Merseyside, as Anfield we...",https://image.pixstory.com/Pixstory-image-1650...,2022-03-14 02:16:29,"football, premier league, ynwa, liverpool, man...",unknown

In [ ]:
df_master_dataset.to_csv('Master_Dataset_Raw_Sarcasm.csv', index=False)

In [ ]:
# import spacy
import pandas as pd

# Load the pre-trained English language model from spaCy
nlp = spacy.load('en_core_web_sm')

# Define a function to classify the text as sarcasm or not sarcasm
def classify_text(text):
    # Tokenize the text using spaCy
    doc = nlp(text)
    # Check if the text contains any of the sarcasm keywords in df_sarcasm
    if any(keyword in text for keyword in df_sarcasm['Sarcasm']):
        return 'sarcasm'
    # Check if the text contains any of the non-sarcasm keywords in df_not_sarcasm
    elif any(keyword in text for keyword in df_not_sarcasm['Not Sarcasm']):
        return 'not sarcasm'
    # If the text does not contain any sarcasm or non-sarcasm keywords, return 'unknown'
    else:
        return 'unknown'

# Apply the classify_text function to the "Narrative" column in df_master_dataset
df_master_dataset['Classification'] = df_master_dataset['Narrative'].apply(classify_text)

# Print the resulting DataFrame with the Classification column
print(df_master_dataset)

NameError: name 'spacy' is not defined